@define-color accent_color shade(@theme_color, 1.2);
@define-color accent_bg_color shade(@theme_color, 0.8);

@define-color card_shade_color rgba(0, 0, 0, 0.1);

@define-color notebooks_bar_bg_color shade(@window_bg_color, 1.2);
@define-color notebooks_bar_fg_color shade(@window_fg_color, 1.2);

@define-color headerbar_bg_color mix(#27303a, @theme_color, 0.3);
@define-color headerbar_fg_color shade(@theme_color, 1.96);
@define-color headerbar_backdrop_color mix(@window_bg_color, @headerbar_bg_color, 0.6);
@define-color headerbar_popover_color mix(@headerbar_bg_color, @window_bg_color, 0.7);

@define-color selected_bg_color alpha(mix(@theme_color, #180033, 0.36), 0.24);

.notebook-sidebar listview row:hover:not(:selected):not(:active) > box {
  background-color: alpha(@accent_color, .05);
}

.notebook {
  background-image:
    repeating-linear-gradient(
      45deg,
      alpha(@notebook_color, 0) 2px,
      alpha(#fff, 0.024) 3px,
      alpha(#fff, 0.024) 4px,
      alpha(@notebook_color, 0) 5px
    ),
    linear-gradient(
      mix(@notebook_color, #fff, 0.1) 0%,
      @notebook_color 50%,
      alpha(@notebook_color, 0.6) 75%,
      alpha(@notebook_color, 0) 100%
    ),
    radial-gradient(mix(@notebook_color, #fff, 0.3) 30%, transparent 31%),
    radial-gradient(mix(@notebook_color, #fff, 0.38) 30%, transparent 31%),
    linear-gradient(mix(@notebook_color, #fff, 0.1), @notebook_color);
}

